<h2>Dashboard component</h2>

<h3>Feeds</h3>
<app-ui-notes *ngIf="!(feeds$ | async)?.length" type="info" text="No feed, add one."></app-ui-notes>

<div class="feed animation" *ngFor="let item of feeds$ | async">
  <a>{{item.name}}</a>
  <div class="text">
    {{item.text}}
  </div>
  <div class="actions">
    <a class="reply"><button class="ui button icon basic red" (click)="removeFeed(item.id)">Remove</button></a>
  </div>
  <div class="comments">

    <div class="comment animation animation-comment" *ngFor="let comment of item?.comments">
      <div class="text">
        {{comment.text}}
      </div>
    </div>

  </div>
  <div class="clear"></div>
</div>

